body, html {
    margin: 0;
    background-image: url("assets/fish_background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

header {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
    font-size: 18px;
    color: black;
    text-decoration-style: wavy;
    background-color: aliceblue;
    padding: 12px;
    background: rgb(204, 204, 204, 0.25);
    background-size: cover;
    height: 40px;
}

header a {
    padding: 10px;
    color: black;
    font-weight: bold;
    float: left;
}

.links {
    float: right;
}

.logolink {
    float: left;
}


.content {
    gap: 1rem;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 786px;
}


footer {
    font-size: 18px;
    color: black;
    background-color: aliceblue;
    background: rgb(204, 204, 204, 0.125);
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid var(--color-border);
    text-align: center;
    height: 45px;
}

.footerLinks {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}