.remix-app {
    margin: 0 !important;
    background-image: url("fish_background.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    height: 100% !important;
    width: 100% !important;
}

header {
    padding-bottom: 1rem !important;
    border-bottom: 1px solid var(--color-border) !important;
    font-size: 18px !important;
    color: black !important;
    text-decoration-style: wavy !important;
    background-color: aliceblue !important;
    padding: 12px !important;
    background: rgb(204, 204, 204, 0.25);
    background-size: cover !important;
    height: 40px !important;
}

header a {
    padding: 10px !important;
    color: black !important;
    font-weight: bold !important;
    float: left !important;
}

.links {
    float: right !important;
}

.logolink {
    float: left !important;
}

.content {
    gap: 1rem !important;
    justify-content: space-between !important;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    height: 786px !important;
}

footer {
    font-size: 18px !important;
    color: black !important;
    text-decoration-style: wavy !important;
    background-color: aliceblue !important;
    background: rgb(204, 204, 204, 0.125) !important;
    background-size: cover !important;
    padding: 5px !important;
    border-top: 1px solid var(--color-border) !important;
    text-align: center !important;
    height: 45px !important;
}

.footerLinks {
    font-weight: bold !important;
    text-decoration: underline !important;
    text-align: center !important;
}

.remix-app__header {
    display: none;
}

.remix-app__footer {
    display: none;
}