.remix-app, .remix-app__main, .remix-app__main-content {
  height: 100% !important;
  width: 100% !important;
  margin: 0;
}

.container {
 margin: 0;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

header a {
  overflow: hidden;
  display: block;
  padding: 14px 16px;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}