html {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

header {

}

header a {
    color: black;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
}

header ul {

}

header li {

}

.mainNav {
    overflow: hidden;
    background-color: #333;
    width: 100%;
    position: absolute;
    top: 0;
}

.categoryNav {
    float: left;
    overflow: hidden;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
    position: absolute;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 18px;
    color: black;
    padding: 20px;
    text-align: center;
}
