* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    min-height: 100%;
    min-width: 100%;
}

header {

}

header a {
    color: black;
    font-weight: bold;
    float: left;
    text-align: center;
    padding: 14px 20px;
}

header ul {

}

header li {

}

.mainNav .categoryNav {
    overflow: hidden;
    background-color: #333;
    min-width: 100%;
    position: absolute;
    top: 0;
    padding: 14px 20px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    font-size: 18px;
    color: black;
    padding: 20px;
    text-align: center;
}
