.container {
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    background-color: #0C2D48;
}

.content {
    box-sizing: border-box;
    padding: 20px;
    height: auto;
    width: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    background: #2e8bc0;
    margin-left: 275px;
    margin-right: 275px;
    margin-top: 25px;
    margin-bottom: 25px;
    column-gap: 10px;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
    text-align: center;
}

.row {
    width: auto;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
    margin-left: 2px;
    margin-right: 2px;
}
