.container {
    height: 100% !important;
    width: 100% !important;
    box-sizing: border-box;
    background-color: #0C2D48;
}

.content {
    box-sizing: border-box;
    padding: 30px;
    height: auto;
    width: auto;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    background: #2e8bc0;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1 {
    text-decoration: underline;
    text-align: center;
}

h2 {
    text-decoration: underline;
}

ul {
    margin: 0 auto;
}

.listsrow::after {
    content: "";
    display: table;
    clear: both;
}

.technicalskillscolumn {
    float: left;
    width: 50%;
}

.interpersonalskillscolumn {
    float: right;
    width: 50%;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    background-color: var(--color-border);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }